@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #F59E0B;
  --color-primary-hover: #D97706;
  --color-primary-light: #FEF3C7;

  --color-secondary: #334155;
  --color-secondary-dark: #1E293B;
  --color-secondary-light: #94A3B8;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    @apply antialiased text-slate-900 bg-white;
  }
}